<h3>Authorize OAuth client</h3>

<form method="post" action="/v1/allow">
  <% @oauth2.params.each do |key, value| %>
    <input type="hidden" name="<%= key %>" value="<%= value %>">
  <% end %>
  <input type="hidden" name="account_id" value="<%= @account.id %>">

  <fieldset>
    <input type="checkbox" name="allow" id="allow" value="1">
    <label for="allow">Allow this application</label>
  </fieldset>

  <fieldset>
    <input type="submit" value="Go!">
  </fieldset>
</form>
